@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

.headfont, h1, h2, h3, h4, h5, h6 {

    font-family:"Noto Sans", sans-serif;

}

.parafont, p, li {

    font-family: "Quicksand", sans-serif;

}

html, .maincolors {

    background-color: #FBFBFB;
    color:black;

}

.subcolor1 {

    background-color: #004196;
    color:white;

}

.subcolor2 {

    background-color: #CDE3FF;
    color:#0C1639;

}

hr {

    margin:0px auto;
    border:white solid 3px;
    width: 85%;
    
}

footer p {
    font-size:1.5rem;
}

.col-12 > p, .col-12 li {
    font-size:1.3rem;
}

.col > p > a:link, .col > p > a:active, .card-body a:link, card-body a:active {

    color:#CDE3FF;

}

.col > p > a:hover, .col > p > a:visited, .card-body a:hover, card-body a:visited {

    color:#a6caf8;

}

.bold {
    font-weight:bold;
}